@using System.Web.UI.WebControls;
@*@model VendingMachine.Models.ProductModel*@

<div class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> Insert money by selecting an amount below</div>
    <div class="panel-body">
        @{  var listItems = new List<ListItem>
            {
                  new ListItem { Text = "£2", Value="2.00M" },
                  new ListItem { Text = "£5", Value="5.00M" },
                  new ListItem { Text = "£1.75", Value="1.75M" },
                  new ListItem { Text = "£1.72", Value="1.72M" },
                  new ListItem { Text = "£0.59", Value="0.59M" }
            };

        }

        @Html.DropDownList("-- Insert Money --",
                    new SelectList(listItems, "Value", "Text"),
                    new { @id = "moneyList", @class = "form-control" })
        
    </div>
</div>