@using System.Web.UI.WebControls;
@using VendingMachine.Models
@model VendingMachine.Models.ProductModel

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i>  Insert money by selecting an amount below</div>
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, null))
            {
                @Html.DropDownList("MoneyValue",
                   EnumHelper.GetSelectList(typeof(Money)),
                   "Select Money",
                   new { @id = "moneyList", @class = "form-control", onchange = "this.form.submit()" })

                if (TempData["insertedMoney"] != null)
                {
                    <p>
                         @Html.ActionLink("Select Product", "Purchase", "Home", new { area = "" }, new { @class = "btn btn-default"  })
                    </p>
                }
            }
        </div>
    </div>
</div>
@if (TempData["insertedMoney"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["insertedMoney"]
    </div>
}